<whs-sence [modules]="containerModules">
  <whs-ambient-light whsMarkAsComponent [params]="ambientLightParams"></whs-ambient-light>
  <whs-directional-light whsMarkAsComponent [params]="directionalLightParams"></whs-directional-light>

  <whs-text whsMarkAsComponent [params]="textParams"></whs-text>
  <whs-group whsMarkAsComponent [params]="spaceParams">

    <whs-tetrahedron whsMarkAsComponent [whsLoop]="service.planetLoop()" [params]="planetParams"></whs-tetrahedron>

    <whs-group whsMarkAsComponent>
      <ng-container *ngFor="let particle of particles">
        <whs-box whsMarkAsComponent *ngIf="particle.type === 'Box'" [params]="particle.params" [whsLoop]="service.particleLoop()" (ready)="service.particleReady($event)"></whs-box>
        <whs-cylinder whsMarkAsComponent *ngIf="particle.type === 'Cylinder'" [params]="particle.params" [whsLoop]="service.particleLoop()"
          (ready)="service.particleReady($event)"></whs-cylinder>
        <whs-dodecahedron whsMarkAsComponent *ngIf="particle.type === 'Dodecahedron'" [params]="particle.params" [whsLoop]="service.particleLoop()"
          (ready)="service.particleReady($event)"></whs-dodecahedron>
        <whs-sphere whsMarkAsComponent *ngIf="particle.type === 'Sphere'" [params]="particle.params" [whsLoop]="service.particleLoop()" (ready)="service.particleReady($event)"></whs-sphere>
      </ng-container>
    </whs-group>

  </whs-group>

</whs-sence>
