<h1>hello world</h1>

<div class="row">
  <whs-sence
    [id]="'c1'"
    [modules]="containerModules">
    <app-point-light #component></app-point-light>
    <whs-box
      #component
      [params]="planeProps"></whs-box>
    <whs-box
      #component
      [params]="sphereProps"></whs-box>
    <whs-ambient-light
      #component
      [params]="ambientLightProps"></whs-ambient-light>

    <whs-text
      #component
      whsLoop
      [loop]="loop()"
      [params]="textPrams"
      ></whs-text>


  </whs-sence>
</div>
